<app-header></app-header>

<!-- ======= Edit Warehouses Section ======= -->
<section id="warehouses" class="warehouse section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Warehouses</h2>
      <h3>Here you can edit <span>Warehouses</span>.</h3>
      <p><i>“If everyone is moving forward together, then success takes care of itself!”</i></p>
    </div>
    <div class="row">
      <div class="d-flex justify-content-sm-center"  data-aos="fade-up" data-aos-delay="100">
        <div class="card">
          <div class="card-img">
            <img src="https://cdn.dribbble.com/users/789882/screenshots/11209177/media/acc8d1159e75960b9d53813c29cceb42.png?compress=1&resize=1000x750&vertical=top" class="img-fluid" alt="WarehousesEdit">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="row">
          <div *ngIf="warehouseEdit" class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            {{this.successMessage}}
          </div>
          <div *ngIf="!warehouseEdit && warehouseEdit != null" class="alert alert-warning d-flex align-items-center">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            {{this.errorMessage}}
          </div>
        </div>
      </div>
    </div>

    <!-- EDIT PAGE -->
    <div class="row mt-4">
      <div class="row mt-4">
        <div class="col">
          <div class="row">
            <table>
              <tr>
                <th>Address</th>
                <th>Designation</th>
                <th>GeoCoords</th>
              </tr>
              <tr *ngFor="let warehouse of warehouses">
                <td>{{ warehouse.warehouseAddress }}</td>
                <td>{{ warehouse.warehouseDesignation }}</td>
                <td>{{ warehouse.warehouseGeoCoord }}</td>
                <td><button class="btn btn-primary" id="buttonEdit" (click)="onEditClicked(warehouse.warehouseId)">Edit</button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <h3>Edit Warehouse</h3>
        <form #warehouseForm="ngForm" (ngSubmit)="editWarehouse(warehouseForm)">
          <div class="form-group">
            <label>Address</label><br>
            <input type="text" name="warehouseAddress" id="warehouseAddress" ngModel>
          </div>
          <div class="form-group">
            <label>Designation</label><br>
            <input type="text" name="warehouseDesignation" ngModel>
          </div>
          <div class="form-group">
            <label>GeoCoord</label><br>
            <input type="text" name="warehouseGeoCoord" ngModel>
          </div>
          <div class="submit-button-warehouse">
            <button type="submit" [disabled]="!editMode" value="{{editMode ? 'Update warehouse' : 'Click on edit to update a warehouse'}}" class="btn btn-primary">Submit my new Warehouse!</button>
          </div>
        </form>
      </div>
    </div>
    <!-- END OF EDIT PAGE -->

  </div>
</section><!-- End Edit Warehouses Section -->

<app-footer></app-footer>



