
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="index.html">Electric Go<span>.</span></a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#team">Team</a></li>
        <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a [routerLink]="['/trucks/create']">Trucks</a></li>
            <li><a [routerLink]="['/warehouses/create']">Warehouses</a></li>
            <li><a [routerLink]="['/routes/create']" >Routes</a></li>
            <li><a [routerLink]="['/orders/create']">Orders</a></li>
            <li><a [routerLink]="['/packaging/create']">Packaging</a></li>
            <li><a [routerLink]="['/deliveries/create']">Deliveries</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->
