<section id="about" class="about section-bg" style="padding-top: 50px!important">
  <div class="container" data-aos="fade-up">

    <div class="section-title justify-content-left">
      <h2>Terms & Conditions</h2>
    </div>
    <div class="justify-content-left">
      <h3>EletricAcme,S.A.-EletricGo System Terms and Conditions</h3>

      <p>These terms and conditions outline the rules and regulations for the use of EletricGo's Website, located at
        <a [routerLink]="['/login']" >https://spa016.vercel.app/login</a>.</p>

      <p>By accessing this website you are accepting these terms and conditions. Do not continue using the website if
        you do not agree with all of the terms and conditions stated.</p>

      <h3><strong>Privacy</strong></h3>

      <p>For further details on privacy and data protection see: <a href="rgpd/RGPD-3DC-G016.pdf">RGPD</a>.</p>

      <h3><strong>Cookies</strong></h3>

      <p>We employ the use of cookies. By accessing EletricGo, you agreed to use cookies in agreement with the
        EletricGo's Privacy Policy. </p>

      <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by
        our
        website to enable the functionality of certain areas to make it easier for people visiting our website.</p>

      <h3><strong>License</strong></h3>

      <p>Unless otherwise stated, EletricGo and/or its licensors own the intellectual property rights for all material
        on EletricGo. All intellectual property rights are reserved. You may access this from EletricGo for your own
        personal use subjected to restrictions set in these terms and conditions.</p>

      <p>You must not:</p>
      <ul>
        <li>Republish material from EletricGo</li>
        <li>Sell, rent or sub-license material from EletricGo</li>
        <li>Reproduce, duplicate or copy material from EletricGo</li>
        <li>Redistribute content from EletricGo</li>
      </ul>

      <p>Certain areas of this website offer an opportunity for users to write information on the website. EletricGo
        does not filter, edit, publish or review this information. To the extent permitted by applicable laws, EletricGo
        shall not be liable for the information or for any liability, damages or expenses caused and/or suffered as a
        result of any use of and/or writing of and/or appearance of the information on this website.</p>

      <p>You warrant and represent that:</p>

      <ul>
        <li>You are entitled to write information on our website and have all necessary licenses and consents to do
          so;
        </li>
        <li>The information does not contain any offensive, indecent or otherwise unlawful material which is an invasion
          of privacy;
        </li>
        <li>The information will not be used to solicit or promote business or custom or present commercial activities
          or
          unlawful activity.
        </li>
      </ul>

      <h3><strong>iFrames</strong></h3>

      <p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any
        way
        the visual presentation or appearance of our Website.</p>

      <h3><strong>Content Liability</strong></h3>

      <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend
        us
        against all claims that is rising on your Website. No link(s) should appear on any Website that may be
        interpreted
        as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other
        violation of, any third party rights.</p>

      <h3><strong>Reservation of Rights</strong></h3>

      <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to
        immediately remove all links to our Website upon request. We also reserve the right to amen these terms and
        conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to
        and
        follow these linking terms and conditions.</p>

      <h3><strong>Removal of links from our website</strong></h3>

      <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any
        moment. We will consider requests to remove links but we are not obligated to or so or to respond to you
        directly.</p>

      <p>We do not ensure that the information on this website is correct, we do not warrant its completeness or
        accuracy;
        nor do we promise to ensure that the website remains available or that the material on the website is kept up to
        date.</p>

      <h3><strong>Disclaimer</strong></h3>

      <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions
        relating to our website and the use of this website. Nothing in this disclaimer will:</p>

      <ul>
        <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
        <li>limit any of our or your liabilities in any way that is not permitted under applicable law;</li>
        <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
      </ul>

      <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are
        subject
        to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities
        arising in contract, in tort and for breach of statutory duty.</p>

      <p>As long as the website and the information and services on the website are provided free of charge, we will not
        be
        liable for any loss or damage of any nature.</p>
    </div>
  </div>
</section>
