
<app-header></app-header>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h1>Welcome to our app<span>.</span></h1>
    <h2>The modules of this application consist of warehouse <br>management, logistics and distribution planning.</h2>
    <div class="d-flex">
      <a href="#services" class="btn-get-started scrollto">Our Services</a>
      <a href="#team" class="glightbox btn-watch-video"><i class="bi bi-cup-hot"></i><span style="color:#fff3cd">About us</span></a>
    </div>
  </div>
</section>
<!-- End Hero -->


  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-truck"></i></div>
            <h4 class="title">Trucks</h4>
            <p class="description">Depending on your role, you can create or list trucks.</p>
            <p class="cta"><a [routerLink]="['/trucks/create']" >Click here to create ></a></p>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-house-door"></i></div>
            <h4 class="title">Warehouses</h4>
            <p class="description">Depending on your role, you can create or list a warehouse.</p>
            <p class="cta"><a [routerLink]="['/warehouses/create']">Click here to create ></a></p>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-sign-turn-right"></i></div>
            <h4 class="title">Routes</h4>
            <p class="description">Depending on your role, you can create or list a path between warehouses.</p>
            <p class="cta"><a [routerLink]="['/routes/create']" >Click here to create ></a></p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Featured Services Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <h3>Find Out More <span>Services</span></h3>
        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="https://images.pexels.com/photos/10588468/pexels-photo-10588468.jpeg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
          <ul>
            <li>
              <i class="bx bx-store-alt"></i>
              <div>
                <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
              </div>
            </li>
            <li>
              <i class="bx bx-images"></i>
              <div>
                <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
              </div>
            </li>
          </ul>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">ARQSI <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">ALGAV <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">ASIST <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">SGRAI <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">LAPR5 <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Team Effort <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Skills Section -->


  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Services</h2>
        <h3>Check our <span>Services</span></h3>
        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
      </div>
      <div class="row" style="justify-content: center!important">
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" style="justify-content: center!important">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-house-door"></i></div>
            <h4><a [routerLink]="['/warehouses/list']">Warehouse</a></h4>
            <p>Click here to see our list of warehouses.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200" style="justify-content: center!important">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-cart-check"></i></div>
            <h4><a [routerLink]="['/orders/list']">Orders</a></h4>
            <p>Click here to see our list of orders.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300" style="justify-content: center!important">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-truck"></i></div>
            <h4><a [routerLink]="['/trucks/list']" >Trucks</a></h4>
            <p>Click here to see our list of trucks.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4mt-lg-0" data-aos="zoom-in" data-aos-delay="100" style="justify-content: center!important">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-sign-turn-right"></i></div>
            <h4><a [routerLink]="['/routes/list']" >Routes</a></h4>
            <p>Click here to see our list of routes.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200" style="justify-content: center!important">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-box"></i></div>
            <h4><a [routerLink]="['/packaging/list']">Packaging</a></h4>
            <p>Click here to see our list of packagings.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-mailbox"></i></div>
            <h4><a [routerLink]="['/deliveries/list']">Deliveries</a></h4>
            <p>Click here to see our list of deliveries.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

<!-- ======= Middle img Section ======= -->
<section id="middle" class="d-flex" style="display:inherit!important">
  <div class="container-fluid px-0" style="overflow-x: hidden;">
    <div class="row">
      <div class="col-sm-12">
        <img src="https://www.volvotrucks.us/-/media/vtna/images/vnr-electric/vnr-electric-brewery-night-2.jpgr" class="img-fluid w-100">
      </div>
    </div>
  </div>
</section><!-- End Middle img section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Team</h2>
        <h3>Our Hardworking <span>Team</span></h3>
        <p><i>“Teamwork is the secret that makes common people achieve uncommon results”</i></p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="https://cdn.dribbble.com/users/2155131/screenshots/15055519/media/6e0c23a5ecaafef22136c8de32f1b2a7.jpg" class="img-fluid" alt="Diogo">
            </div>
            <div class="member-info">
              <h4>Diogo Ferreira</h4>
              <span>ARQSI, ALGAV, LAPR5, SGRAI</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="https://cdn.dribbble.com/users/2155131/screenshots/15055519/media/02ce7ca16adaa784cce36bb8720b2552.jpg" class="img-fluid" alt="Duarte">
            </div>
            <div class="member-info">
              <h4>Duarte Paulo</h4>
              <span>ALGAV</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="https://cdn.dribbble.com/users/2155131/screenshots/15602364/media/faa177533fb9b9822bbee2253c1a5ba8.jpg" class="img-fluid" alt="Tiago">
            </div>
            <div class="member-info">
              <h4>Ruben Martins</h4>
              <span>ARQSI, ASIST, LAPR5, SGRAI</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="https://cdn.dribbble.com/users/2155131/screenshots/15602364/media/83d606e01ac9cc901cb5b8b071954f4b.jpg" class="img-fluid" alt="Tiago">
            </div>
            <div class="member-info">
              <h4>Rui Gonçalves</h4>
              <span>ARQSI, ALGAV, LAPR5</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="https://cdn.dribbble.com/users/2155131/screenshots/15055519/media/18f8c4f6ac79add88ece3dff5865d473.jpg" class="img-fluid" alt="Teresa">
            </div>
            <div class="member-info">
              <h4>Teresa Pereira Leite</h4>
              <span>ARQSI, LAPR5</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="https://cdn.dribbble.com/users/2155131/screenshots/15055519/media/fbf6c2c6e2b096bb6834347cd7a47422.jpg" class="img-fluid" alt="Tiago">
            </div>
            <div class="member-info">
              <h4>Tiago Pinto</h4>
              <span>ARQSI, ALGAV, ASIST, LAPR5, SGRAI</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="https://cdn.dribbble.com/users/2155131/screenshots/15602364/media/e3954ef71c85884e78b384bf264dd5c4.jpg" class="img-fluid" alt="Vasco">
            </div>
            <div class="member-info">
              <h4>Vasco Rocha</h4>
              <span>ARQSI, ALGAV, LAPR5, SGRAI</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Team Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>F.A.Q</h2>
        <h3>Frequently Asked <span>Questions</span></h3>
        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
      </div>

      <div class="row justify-content-center">
        <div class="col-xl-10">
          <ul class="faq-list">

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                </p>
              </div>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </section>
<!-- End Frequently Asked Questions Section -->

<app-footer></app-footer>

