<section id="login" class="d-flex align-items-center">
  <div class="container"
       style="max-width: 550px;padding: 40px 80px; background-color: rgba(255, 255, 255, 0.3);border-radius: 5px;">
    <h1 class="text-center mb-5">Electric Go<span>.</span></h1>
    <div class="mb-3">
      <label class="form-label"><b>Email</b></label>
      <input type="text" class="form-control" placeholder="Email" [(ngModel)]="email" id="input-email">
    </div>
    <div class="mb-3" style="padding:10px 0px">
      <label class="form-label"><b>Password</b></label>
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" id="input-password">
    </div>


    <div class="mb-3" style="padding:10px 0px" (click)="login(email, password)">
      <button class="w-100 btn btn-lg btn-success">Submit</button>
    </div>

    <div class="mb-3" style="padding:10px 0px" align="center">
      <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
    </div>

    <div class="mb-3 text-center">
      <p class="small fw-bold mt-2">
        Don't have an account? <a [routerLink]="['/signup']" class="link-secondary">Register</a>
      </p>
      <p class="mt-5 mb-3 text-center" style="color:#fff">&copy; 2022-2023 Grupo 016</p>
    </div>
  </div>
</section>





