<app-header></app-header>

<!-- ======= Header Route Section ======= -->
<section id="routes" class="route section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Routes</h2>
      <h3>Here you can create, edit and list <span>Routes</span>.</h3>
      <p><i>“Teamwork is the secret that makes common people achieve uncommon results”</i></p>
    </div>
    <div class="row">
      <div class="d-flex justify-content-sm-center"  data-aos="fade-up" data-aos-delay="100">
        <div class="card">
          <div class="card-img">
            <img src="https://cdn.dribbble.com/users/1966593/screenshots/11105687/media/9ec986fbdaf2c1671473269ab42f5bd7.jpg?compress=1&resize=1600x1200&vertical=top" class="img-fluid" alt="Routes">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="row">
          <div *ngIf="routeCreated" class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            {{this.successMessage}}
          </div>
          <div *ngIf="!routeCreated && routeCreated != null" class="alert alert-warning d-flex align-items-center">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            {{this.errorMessage}}
          </div>
        </div>
      </div>
    </div>
    <form #routeForm="ngForm" (ngSubmit)="addRoute(routeForm)">
      <br>
      <div class="form-group">
        <label>Origin</label>
        <select name="Origin" id="origin" (change)="ChooseOrigin($event)" class="form-control">
          <option>Select Origin</option>
          <option *ngFor="let warehouse of warehousesList" [value]="warehouse.warehouseId">
            {{warehouse.warehouseDesignation}}
          </option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <label>Destination</label>
        <select name="Destination" id="destination" (change)="ChooseDestination($event)" class="form-control">
          <option>Select Destination</option>
          <option *ngFor="let warehouse of warehousesList" [value]="warehouse.warehouseId">
            {{warehouse.warehouseDesignation}}
          </option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <label for="distance" >Distance</label>
        <input ngModel name="distance" id="distance" class="form-control" placeholder="Insert distance">
      </div>
      <br>
      <div class="form-group">
        <label for="timeDistance">Time Distance</label>
        <input ngModel name="timeDistance" id="timeDistance" class="form-control" placeholder="Insert timeDistance">
      </div>
      <br>
      <div class="form-group">
        <label for="energySpent">Energy Spent</label>
        <input ngModel name="energySpent" id="energySpent" class="form-control" placeholder="Insert energySpent">
      </div>
      <br>
      <div class="form-group">
        <label for="extraTimeBattery">Extra Time Battery</label>
        <input ngModel name="extraTimeBattery" id="extraTimeBattery" class="form-control" placeholder="Insert extraTimeBattery">
      </div>
      <br>
      <div class="submit-button-route">
        <button type="submit" class="btn btn-primary">Submit my route!</button>
      </div>
    </form>
  </div>
</section><!-- End Header Route Section -->

<app-footer></app-footer>
